@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  /* इवेंट जैसी एलिगेंट फील देने के लिए हेडिंग्स पर Serif फॉन्ट */
  h1, h2, h3, .font-serif-event {
    font-family: 'Playfair Display', serif;
  }
}

/* @import "tailwindcss"; */


@layer base {
  :root {
    --bg-deep-wine: #260812;
    --bg-burgundy: #4A1022;
    --accent-rose-gold: #C98F8F;
    --accent-dusty-rose: #D9A6A8;
    --bg-cream: #FFF5EA;
    --bg-nude-beige: #E8D5C4;
  }
}